body {
    background-color: ivory;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100px;
    background-color: darkolivegreen;
    border-radius: 50px;
    margin: 20px auto;
    gap: 10px;
}

#header-img {
    width: 120px;
    height: auto;
}

h1 {
    text-align: center;
    color: ivory;

}

nav {
    text-align: center;
}

.mo {
    color: ivory;
    margin: 0 10px;
}

.box {
    width: 90%;
    height: 400px;
    background-color: darkolivegreen;
    margin: 20px auto;
    border-radius: 50px;
}

h2 {
    color: ivory;
}