body {
    background-color: ivory;
}
.banner {
    width: 90%;
    height: 100px;
    background-color: darkolivegreen;
    border-radius: 50px;
    margin: 20px auto;
}
h1 {
    text-align: center;
    color: ivory;

}
nav {
    text-align: center;
}
.mo {
    color: ivory;
    margin: 0 10px;
}
.menu-box {
    width: 90%;
    height: 400px;
    background-color: darkolivegreen;
    margin: 20px auto;
}