body {
    background-color: ivory;
}
.banner {
    width: 90%;
    height: 80px;
    background-color: darkolivegreen;
    border-radius: 50px;
    margin: 20px auto;
}
title {
    text-align: center;

}
nav {
    text-align: center;
}
.mo {
    color: ivory;
    margin: 0 15px;
}